In [1]:
#import Postgre Packeage
import psycopg2 as ps

In [2]:
#create connection to Udacity Database
try:
    conn = ps.connect("host=127.0.0.1 dbname=udacity user=postgres password=postgre")
except ps.Error as e:
    print("Error : Connect to Udacity DataBase")
    print(e)

In [3]:
# Create cursor to query sql and set session to auto commit 
try:
    cur = conn.cursor()
    conn.set_session(autocommit=True)
except ps.Error as e:
    print("Error : Create Cursor")
    print(e)

In [4]:
# Create Table 
try:
    #first drop table
    cur.execute("drop table if exists music_library;")
    #create table
    cur.execute("""
        create table if not exists music_library
        (
            album_id int,
            album_name varchar,
            artist_name varchar,
            year int,
            songs text[]
        )
    """)
except ps.Error as e:
    print("Error : Creating music_library Table")
    print(e)

In [5]:
# insert some Data
try:
    cur.execute("""
        insert into music_library (album_id,album_name,artist_name,year,songs)
                    values(%s,%s,%s,%s,%s)
    """,(1,"Rubber Soul","The Beatles",1965,["Michelle","Think For Yourself","In My Life"]))
except ps.Error as e:
    print("Error : Inserting Row")
    print(e)

In [6]:
# insert some data
try:
    cur.execute("""
        insert into music_library (album_id,album_name,artist_name,year,songs)
                    values(%s,%s,%s,%s,%s)
    """,(2,"Let It Be","The Beatles",1970,["Let It Be","Across The Universe"]))
except ps.Error as e:
    print("Error : inserting Row")
    print(e)

In [7]:
#select data 
try:
    cur.execute("select * from music_library")
except ps.Error as e:
    print("Error : Select Data ")
    print(e)
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'Rubber Soul', 'The Beatles', 1965, ['Michelle', 'Think For Yourself', 'In My Life'])
(2, 'Let It Be', 'The Beatles', 1970, ['Let It Be', 'Across The Universe'])

# Moving To First Normal Form (1NF)

In [8]:
# Create music_library2 table
try:
    #first drop table
    cur.execute("drop table if exists music_library2;")
    cur.execute("""
        create table if not exists music_library2
        (
            album_id int,
            album_name varchar,
            artist_name varchar,
            year int,
            song_name varchar
        )
    """)
except ps.Error as e:
    print("Error : Creating Table ")
    print(e)

In [9]:
#insert Some Data
try:
    cur.execute("""
        insert into music_library2 (album_id,album_name,artist_name,year,song_name)
                    values(%s,%s,%s,%s,%s)
    """,(1,"Rubber Soul","The Beatles",1965,"Michelle"))
except ps.Error as e:
    print("Error : Inserting Row")
    print(e)

try:
    cur.execute("""
        insert into music_library2 (album_id,album_name,artist_name,year,song_name)
                    values(%s,%s,%s,%s,%s)
    """,(1,"Rubber Soul","The Beatles",1965,"Think For Yourself"))
except ps.Error as e:
    print("Error : Inserting Row")
    print(e)
    
try:
    cur.execute("""
        insert into music_library2 (album_id,album_name,artist_name,year,song_name)
                    values(%s,%s,%s,%s,%s)
    """,(1,"Rubber Soul","The Beatles",1965,"In My Life"))
except ps.Error as e:
    print("Error : Inserting Row")
    print(e)

In [10]:
# insert some data
try:
    cur.execute("""
        insert into music_library2 (album_id,album_name,artist_name,year,song_name)
                    values(%s,%s,%s,%s,%s)
    """,(2,"Let It Be","The Beatles",1970,"Let It Be"))
except ps.Error as e:
    print("Error : inserting Row")
    print(e)

try:
    cur.execute("""
        insert into music_library2 (album_id,album_name,artist_name,year,song_name)
                    values(%s,%s,%s,%s,%s)
    """,(2,"Let It Be","The Beatles",1970,"Across The Universe"))
except ps.Error as e:
    print("Error : inserting Row")
    print(e)

In [11]:
# Select Data 
try:
    cur.execute("select * from music_library2")
except ps.Error as e:
    print("Error : Select Data")
    print(e)
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'Rubber Soul', 'The Beatles', 1965, 'Michelle')
(1, 'Rubber Soul', 'The Beatles', 1965, 'Think For Yourself')
(1, 'Rubber Soul', 'The Beatles', 1965, 'In My Life')
(2, 'Let It Be', 'The Beatles', 1970, 'Let It Be')
(2, 'Let It Be', 'The Beatles', 1970, 'Across The Universe')

# Moving To Second Normal Form (2NF)

In [12]:
# Create Album_Library Table
try:
    #first drop table
    cur.execute("drop table if exists album_library;")
    cur.execute("""
        create table if not exists album_library
        (
            album_id int,
            album_name varchar,
            artist_name varchar,
            year int
        )
    """)
except ps.Error as e:
    print("Error : Creating Album Library Table")
    print(e)

In [13]:
# Create song_library Table
try:
    #first drop table
    cur.execute("drop table if exists song_library;")
    cur.execute("""
        create table if not exists song_library
        (
            song_id int,
            album_id int,
            song_name varchar
        )
    """)
except ps.Error as e:
    print("Error : Creating song_library Table")
    print(e)

In [14]:
#Inserting Some Data To Album_library
try:
    cur.execute("""
        insert into album_library (album_id,album_name,artist_name,year)
                    values(%s,%s,%s,%s)
    """,(1,"Rubber Soul","The Beatles",1965))
except ps.Error as e:
    print("Error : Inserting Row")
    print(e)
    
try:
    cur.execute("""
        insert into album_library (album_id,album_name,artist_name,year)
                    values(%s,%s,%s,%s)
    """,(2,"Let It Be","The Beatles",1970))
except ps.Error as e:
    print("Error : inserting Row")
    print(e)

In [15]:
#select Some Album Data 
try:
    cur.execute("select * from album_library")
except ps.Error as e:
    print("Error : Select album Data ")
    print(e)
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'Rubber Soul', 'The Beatles', 1965)
(2, 'Let It Be', 'The Beatles', 1970)

In [16]:
#insert song data to song_library table
try:
    cur.execute("""
        insert into song_library (song_id,album_id,song_name)
                    values(%s,%s,%s)
    """,(1,1,"Michelle"))
except ps.Error as e:
    print("Error : Inserting Row")
    print(e)

try:
    cur.execute("""
        insert into song_library (song_id,album_id,song_name)
                    values(%s,%s,%s)
    """,(2,1,"Think For Yourself"))
except ps.Error as e:
    print("Error : Inserting Row")
    print(e)
    
try:
    cur.execute("""
        insert into song_library (song_id,album_id,song_name)
                    values(%s,%s,%s)
    """,(3,1,"In My Life"))
except ps.Error as e:
    print("Error : Inserting Row")
    print(e) 
    
    
try:
    cur.execute("""
         insert into song_library (song_id,album_id,song_name)
                    values(%s,%s,%s)
    """,(4,2,"Let It Be"))
except ps.Error as e:
    print("Error : inserting Row")
    print(e)

try:
    cur.execute("""
        insert into song_library (song_id,album_id,song_name)
                    values(%s,%s,%s)
    """,(5,2,"Across The Universe"))
except ps.Error as e:
    print("Error : inserting Row")
    print(e)

In [17]:
#select some data from song_library Table
try:
    cur.execute("select * from song_library")
except ps.Error as e:
    print("Error : select data")
    print(e)
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 1, 'Michelle')
(2, 1, 'Think For Yourself')
(3, 1, 'In My Life')
(4, 2, 'Let It Be')
(5, 2, 'Across The Universe')

In [18]:
#Select By Join 
try:
    cur.execute("""
        select * 
        from album_library
        join song_library
        on album_library.album_id = song_library.album_id 
    """)
except ps.Error as e:
    print("Error : Select Data ")
    print(e)
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'Rubber Soul', 'The Beatles', 1965, 1, 1, 'Michelle')
(1, 'Rubber Soul', 'The Beatles', 1965, 2, 1, 'Think For Yourself')
(1, 'Rubber Soul', 'The Beatles', 1965, 3, 1, 'In My Life')
(2, 'Let It Be', 'The Beatles', 1970, 4, 2, 'Let It Be')
(2, 'Let It Be', 'The Beatles', 1970, 5, 2, 'Across The Universe')

# Moving To Third Normal Form (3NF)

In [36]:
#Create song_library2 Table
try:
    #First Drop Table
    cur.execute("drop table if exists album_library2;")
    #Creaet Table
    cur.execute("""
            create table if not exists album_library2
            (
                song_id int,
                album_id int,
                song_name varchar
            )
        """)
    
except ps.Error as e:
    print("Error: Create song_library2 Table")
    print(e)
#Create song_library2 Table
try:
    #First Drop Table
    cur.execute("drop table if exists album_library2;")
    #Creaet Table
    cur.execute("""
        create table if not exists album_library2
        (
            album_id int,
            album_name varchar,
            artist_id int,
            year int
        )
    """)
    
except ps.Error as e:
    print("Error: Create song_library2 Table")
    print(e) 
    
#Create atist_library Table    
try:
    #First Drop Table
    cur.execute("drop table if exists artist_library;")
    #Creaet Table
    cur.execute("""
        create table if not exists artist_library
        (
            artist_id int,
            artist_name varchar
        )
    """)
    
except ps.Error as e:
    print("Error: Create atist_library Table")
    print(e)

In [37]:
#insert song data to song_library2 table
try:
    cur.execute("""
        insert into song_library2 (song_id,album_id,song_name)
                    values(%s,%s,%s)
    """,(1,1,"Michelle"))
except ps.Error as e:
    print("Error : Inserting Row")
    print(e)

try:
    cur.execute("""
        insert into song_library2 (song_id,album_id,song_name)
                    values(%s,%s,%s)
    """,(2,1,"Think For Yourself"))
except ps.Error as e:
    print("Error : Inserting Row")
    print(e)
    
try:
    cur.execute("""
        insert into song_library2 (song_id,album_id,song_name)
                    values(%s,%s,%s)
    """,(3,1,"In My Life"))
except ps.Error as e:
    print("Error : Inserting Row")
    print(e) 
    
    
try:
    cur.execute("""
         insert into song_library2 (song_id,album_id,song_name)
                    values(%s,%s,%s)
    """,(4,2,"Let It Be"))
except ps.Error as e:
    print("Error : inserting Row")
    print(e)

try:
    cur.execute("""
        insert into song_library2 (song_id,album_id,song_name)
                    values(%s,%s,%s)
    """,(5,2,"Across The Universe"))
except ps.Error as e:
    print("Error : inserting Row")
    print(e)

In [38]:
#Inserting Some Data To album_library2
try:
    cur.execute("""
        insert into album_library2 (album_id,album_name,artist_id,year)
                    values(%s,%s,%s,%s)
    """,(1,"Rubber Soul",1,1965))
except ps.Error as e:
    print("Error : Inserting Row")
    print(e)
    
try:
    cur.execute("""
        insert into album_library2 (album_id,album_name,artist_id,year)
                    values(%s,%s,%s,%s)
    """,(2,"Let It Be",1,1970))
except ps.Error as e:
    print("Error : inserting Row")
    print(e)

In [39]:
#Inserting Some Data To atist_library
try:
    cur.execute("""
        insert into artist_library (artist_id,artist_name)
                    values(%s,%s)
    """,(1,"The Beatles"))
except ps.Error as e:
    print("Error : Inserting Row")
    print(e)

In [40]:
print("\nTable : Album_library2\n")
#select some data from song_library Table
try:
    cur.execute("select * from album_library2")
except ps.Error as e:
    print("Error : select data")
    print(e)
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

print("\nTable : song_library2\n")

#select some data from song_library Table
try:
    cur.execute("select * from song_library2")
except ps.Error as e:
    print("Error : select data")
    print(e)
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()    
    
print("\nTable : atist_library\n")

#select some data from artist_library Table
try:
    cur.execute("select * from artist_library")
except ps.Error as e:
    print("Error : select data")
    print(e)
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

Table : Album_library2

(1, 'Rubber Soul', 1, 1965)
(2, 'Let It Be', 1, 1970)

Table : song_library2

(1, 1, 'Michelle')
(2, 1, 'Think For Yourself')
(3, 1, 'In My Life')
(4, 2, 'Let It Be')
(5, 2, 'Across The Universe')
(1, 1, 'Michelle')
(2, 1, 'Think For Yourself')
(3, 1, 'In My Life')
(4, 2, 'Let It Be')
(5, 2, 'Across The Universe')

Table : atist_library

(1, 'The Beatles')

In [42]:
try:
    cur.execute("""
        select * 
        from atist_library
        join album_library2
        on atist_library.artist_id = album_library2.artist_id
        join song_library2
        on album_library2.album_id = song_library2.album_id
    """)
except ps.Error as e:
    print("Error : select data")
    print(e)
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'The Beatles', 1, 'Rubber Soul', 1, 1965, 1, 1, 'Michelle')
(1, 'The Beatles', 1, 'Rubber Soul', 1, 1965, 2, 1, 'Think For Yourself')
(1, 'The Beatles', 1, 'Rubber Soul', 1, 1965, 3, 1, 'In My Life')
(1, 'The Beatles', 1, 'Rubber Soul', 1, 1965, 1, 1, 'Michelle')
(1, 'The Beatles', 1, 'Rubber Soul', 1, 1965, 2, 1, 'Think For Yourself')
(1, 'The Beatles', 1, 'Rubber Soul', 1, 1965, 3, 1, 'In My Life')
(1, 'The Beatles', 2, 'Let It Be', 1, 1970, 4, 2, 'Let It Be')
(1, 'The Beatles', 2, 'Let It Be', 1, 1970, 4, 2, 'Let It Be')
(1, 'The Beatles', 2, 'Let It Be', 1, 1970, 5, 2, 'Across The Universe')
(1, 'The Beatles', 2, 'Let It Be', 1, 1970, 5, 2, 'Across The Universe')

# Done We Have Normalized Our Dataset

In [43]:
#Drop All Tables
try:
    cur.execute("drop table album_library ")
except ps.Error as e:
    print("Error : Drop Table  album_library ")
    
try:
    cur.execute("drop table album_library2 ")
except ps.Error as e:
    print("Error : Drop Table  album_library2 ")   
    
try:
    cur.execute("drop table artist_library ")
except ps.Error as e:
    print("Error : Drop Table  artist_library ")   
    
try:
    cur.execute("drop table music_library ")
except ps.Error as e:
    print("Error : Drop Table  music_library ")  
    
try:
    cur.execute("drop table music_library2 ")
except ps.Error as e:
    print("Error : Drop Table  music_library2 ")  
    
try:
    cur.execute("drop table song_library ")
except ps.Error as e:
    print("Error : Drop Table  song_library ")    
    
try:
    cur.execute("drop table song_library2 ")
except ps.Error as e:
    print("Error : Drop Table  song_library2 ")

In [ ]:
# Shutdown cusror and connection