In [2]:
#import library
import psycopg2 as ps

In [3]:
#create connection to database 
try:
    conn = ps.connect("host=127.0.0.1 dbname=udacity user=postgres password=postgre")
except ps.Error as e:
    print("Error : Connect to DataBase")
    print(e)

In [4]:
conn.set_session(autocommit=True)

In [5]:
#create cursor to execute query
cur = conn.cursor()

####  create the Fact Table and insert the data into the table

In [7]:
# Create customer_transactions Table
try:
    cur.execute("create table if not exists customer_transactions (customer_id int,store_id int,spent numeric)")
except ps.Error as e :
    print("Error: Issue creating customer_transactions table")
    print(e)

In [8]:
#insert into customer_transactions table
try:
    cur.execute("insert into customer_transactions(customer_id,store_id,spent)\
                  values (%s,%s,%s)",(1,1,20.50))
except ps.Error as e:
    print("Error : Inserting Error")

try:
    cur.execute("insert into customer_transactions(customer_id,store_id,spent)\
                 values (%s,%s,%s)",(2,1,35.21))
except ps.Error as e:
    print("Error : Inserting Error")
    print(e)

#### create our Dimension Tables and insert data into those tables.

In [10]:
# Creata items_purchased Table
try:
    cur.execute("create table if not exists items_purchased (customer_id int,item_number int,item_name varchar);")
except ps.Error as e:
    print("Error : Creating items_purchased Table")
    print(e)

In [12]:
#insert into items_purchased table
try:
    cur.execute("insert into items_purchased (customer_id,item_number,item_name)\
                 values (%s,%s,%s)", (1, 1, "Rubber Soul"))
except ps.Error as e:
    print("Error : Inserting Rows")

try:
    cur.execute("insert into items_purchased (customer_id,item_number,item_name)\
                 values (%s,%s,%s)",(2, 3, "Let It Be"))
except ps.Error as e:
    print("Error: Insertin Rows")
    print(e)

In [15]:
#create store Table
try:
    cur.execute("create table if not exists store (store_id int ,state varchar);")
except ps.Error as e:
    print("Error : Creating store Issue")
    print(e)

In [16]:
#insert int store table
try:
    cur.execute("insert into store (store_id,state)\
                 values (%s,%s)",(1, "CA"))
except ps.Error as e:
    print("Error : Inserting Rows")
    print(e)
    
try:
    cur.execute("insert into store (store_id,state)\
                 values (%s,%s)", (2, "WA"))
except ps.Error as e:
    print("Error : Inserting Row")
    print(e)

In [17]:
# Create customer Table
try:
    cur.execute("create table if not exists customer (customer_id int,name varchar,rewards boolean);")
except ps.Error as e:
    print("Error : Creating Table")
    print(e)

In [18]:
#insert into customer table
try:
    cur.execute("insert into customer (customer_id,name,rewards)\
                 values (%s,%s,%s)", (1, "Amanda", True))
except ps.Error as e:
    print("Error : Inserting rows")
    print(E)
    
try:
    cur.execute("insert into customer (customer_id,name,rewards)\
                 values (%s,%s,%s)",  (2, "Toby", False))
except ps.Error as e:
    print("Error : Inserting rows")
    print(E)

####  _Query 1_: Find all the customers that spent more than 30 dollars, who are they, what did they buy and if they are a rewards member

In [23]:
try:
    cur.execute("""
            select name , item_name, rewards 
            from customer join customer_transactions on customer.customer_id = customer_transactions.customer_id
            join items_purchased on customer_transactions.customer_id =items_purchased.customer_id
            where spent > 30 ;
    """)
except ps.Error as e:
    print("Error : Select")
    print(e)

row = cur.fetchone()
while row:
    print(row)
    row=cur.fetchone()

('Toby', 'Let It Be', False)

#### _Query 2:_ How much did Store 1 sell?

In [25]:
try:
    cur.execute("SELECT store_id, SUM(spent) FROM customer_transactions GROUP BY store_id;")
except ps.Error as e:
    print("Error : Select ")
    print(e)

row = cur.fetchone()
while row:
    print(row)
    row=cur.fetchone()

(1, Decimal('55.71'))

#### Drop All Tables

In [26]:
# Drop customer_transactions Table
try: 
    cur.execute("DROP table customer_transactions")
except psycopg2.Error as e: 
    print("Error: Dropping table")
    print (e)
# Drop items_purchased Table    
try: 
    cur.execute("DROP table items_purchased")
except psycopg2.Error as e: 
    print("Error: Dropping table")
    print (e)
# Drop customer Table 
try: 
    cur.execute("DROP table customer")
except psycopg2.Error as e: 
    print("Error: Dropping table")
    print (e)
# Drop store Table       
try: 
    cur.execute("DROP table store")
except psycopg2.Error as e: 
    print("Error: Dropping table")
    print (e)

In [27]:
# Close cursor and connection
cur.close()
conn.close()