In [ ]:
#import apache cassandra package
import cassandra

In [ ]:
# Connect To Cassandra and Create Session
from cassandra.cluster import Cluster
try:
    cluster = Cluster(['127.0.0.1'])
    session = cluster.connect()
except Exception as e:
    print("Erro : Connection To Cassandra")
    print(e)

In [ ]:
#Lets Create KeySpace to do Our Work in
try:
    session.execute("""
        create keyspace if not exists udacity
        with replication=
        {'class':'SimpleStrategy','replication_factor':1}
    """)
except Exception as e :
    print("Error : Create KeySpace")
    print(e)

In [ ]:
# Connect to KeySpace
try:
    session.set_keyspace("udacity")
except Exception as e:
    print("connect To KeySpace")
    print(e)

In [ ]:
# Create Fisrt Table Music_library
try:
    query="""
        create table if not exists music_library
        (year int,artist_name text,album_name text,PRIMARY KEY (year,artist_name))
    """
    session.execute(query)
except Exception as e:
    print("Error : Creating music_library")
    print(e)

In [ ]:
# Create Second Table album_library
try:
    query="""
        create table if not exsits album_library
        (year int,artis_name text,album_name text PRIMARY KEY (artist_name,year))
    """
    session.execute(query)
except Exception as e :
    print("Error : Creating album_library")
    print(e)

In [1]:
#Insert Some Data music_library Table
query = """
    insert into music_library (year,artist_name,album_name)
                    values(%s,%s,%s)
"""

try:
    session_execute(query,(1970,"The Bearles","Let it Be"))
except Exception as e:
    print(e)

try:
    session_execute(query,(1965,"The Beatles","Rubber Soul"))
except Exception as e:
    print(e)
    
try:
    session_execute(query,(1965,"The who","My Generation"))
except Exception as e:
    print(e)
    
try:
    session_execute(query,(1966,"The monkes","The Monkes"))
except Exception as e:
    print(e)
    
try:
    session_execute(query,(1970,"The Carpenters","CLose to You"))
except Exception as e:
    print(e)

In [ ]:
# insert Some Data To album_library table
query1 = """
    insert into album_library (artist_name,year,album_name)
                    values(%s,%s,%s)    
"""   


try:
    session_execute(query,("The Bearles",1970,"Let it Be"))
except Exception as e:
    print(e)

try:
    session_execute(query,("The Beatles",1965,"Rubber Soul"))
except Exception as e:
    print(e)
    
try:
    session_execute(query,("The who",1965,"My Generation"))
except Exception as e:
    print(e)
    
try:
    session_execute(query,("The monkes",1966,"The Monkes"))
except Exception as e:
    print(e)
    
try:
    session_execute(query,("The Carpenters",1970,"CLose to You"))
except Exception as e:
    print(e)

In [ ]:
#validate our Data Model to select data from music_library
query = " select * from music_library where year=1970"

try:
    rwos = session.execute(query)
except Exception  as e:
    print("Error : Select from music_library")
    
for row in rows:
    print(row.year,row.artist_name,row.album_name)

In [ ]:
#validate our Data Model to select data from album_library
query = "select * from album_library where artist_name ='The Beatles'"
try:
    rows = session.execute(query)
except Exception as e:
    print("Error : select data from album_library")
    print(e)
    
for row in rows:
    print(row.artist_name,row.year,row.album_name)

In [ ]:
#Drop Tables
try:
    session.execute("drop table music_library")
except Exception as e:
    print("Erro Drop Music_library Table")
    
try:
    session.execute("drop table album_library")
except Exception as e:
    print("Erro Drop album_library Table")

In [ ]:
#Close Session and Cluster Connection
session.shutdown()
cluster.shutdown()