In [ ]:
#import Cassandra library
import cassandra
from cassandra.cluster import Cluster

In [ ]:
# Connect To Cassandra
try:
    cluster = Cluster(['127.0.0.1'])
    session = cluster.connect()
except Exception as e:
    print("Error : Connect To Cassandra")
    print(e)

In [ ]:
# Create KeySpace
try:
    session.execute("""
        create keyspace if not exists udacity
        with replication = 
        {'class' : 'SimpleStrategy' , 'replication_factor' : 1}
    """)
except Exception as e:
    print("Error : Create KeySpace")
    print(e)

In [ ]:
#Connect To Our KeySpace
try:
    session.set_keyspace("udacity")
except Exception as e:
    print("Error : Set KeySpace")
    print(e)

### 1 - Give me ervery album in my music library that was released in a given year
`select * from music_library where year=1970`

In [ ]:
# Create music_library Table
query = """
    create table if not exsits music_library
    (year int,artist_name text,album_name text ,city text, primary key (year))
"""
try:
    session.execute(query)
except Exception as e:
    print("Error : Create music_library Table")
    print(e)

In [ ]:
#insert our data into music_library table
query = """insert into music_library (year,artist_name,album_name,city)
            values (%s,%s,%s,%s)"""
try:
    session.execute(query,(1970,"The Beatles","let it Be","Liverpool"))
except Exception as e:
    print("Error : Insert Row")
    print(e)
    
try:
    session.execute(query,(1965,"The Beatles","Rubber Soul","Oxford"))
except Exception as e:
    print("Error : Insert Row")
    print(e)
    
try:
    session.execute(query,(1965,"The Who","My Generation","London"))
except Exception as e:
    print("Error : Insert Row")
    print(e)
    
try:
    session.execute(query,(1966,"The Monkees","The Monkees","Los Angeles"))
except Exception as e:
    print("Error : Insert Row")
    print(e)
    
try:
    session.execute(query,(1970,"The Carpenters","Close To You","San Digo"))
except Exception as e:
    print("Error : Insert Row")
    print(e)

In [ ]:
# Lets Validate Our Data
query = "SELECT * FROM music_library"

try:
    rows = session.execute(query)
except Exception as e:
    print("Error : select Query")
    print(e)
    
for row in rows:
    print(row.year,row.artist_name,row.album_name,row.city)

### that didnt work out as planned why is that?because we did not craete a unique primary key

In [ ]:
# Create music_library Table
query = """
    create table if not exsits music_library1
    (year int,artist_name text,album_name text ,city text, primary key (year,album_name))
"""
try:
    session.execute(query)
except Exception as e:
    print("Error : Create music_library Table")
    print(e)

In [ ]:
#insert our data into music_library table
query = """insert into music_library1 (year,artist_name,album_name,city)
            values (%s,%s,%s,%s)"""
try:
    session.execute(query,(1970,"The Beatles","let it Be","Liverpool"))
except Exception as e:
    print("Error : Insert Row")
    print(e)
    
try:
    session.execute(query,(1965,"The Beatles","Rubber Soul","Oxford"))
except Exception as e:
    print("Error : Insert Row")
    print(e)
    
try:
    session.execute(query,(1965,"The Who","My Generation","London"))
except Exception as e:
    print("Error : Insert Row")
    print(e)
    
try:
    session.execute(query,(1966,"The Monkees","The Monkees","Los Angeles"))
except Exception as e:
    print("Error : Insert Row")
    print(e)
    
try:
    session.execute(query,(1970,"The Carpenters","Close To You","San Digo"))
except Exception as e:
    print("Error : Insert Row")
    print(e)

In [ ]:
# Lets Validate Our Data
query = "SELECT * FROM music_library1"

try:
    rows = session.execute(query)
except Exception as e:
    print("Error : select Query")
    print(e)
    
for row in rows:
    print(row.year,row.artist_name,row.album_name,row.city)

In [ ]:
# Drop  music_library Table
try:
    session.execute("drop table music_library")
except Exception as e:
    print("Error : Drop Table")
    print(e)

In [ ]:
# Drop  music_library1 Table
try:
    session.execute("drop table music_library")
except Exception as e:
    print("Error : Drop Table")
    print(e

In [ ]:
# Shutdown Session and Cluster Connection
cluster.shutdown()
session.shutdown()