In [ ]:
#import Cassandra Library
import cassandra
from cassandra.cluster import Cluster

In [ ]:
#Connect To Cassandra
try:
    cluster = Cluster(["127.0.0.1"])
    session = cluster.connect()
except Exception as e:
    print("Error : Connect To Cassandra")
    print(e)

In [ ]:
#Create Udacity keySpace

try:
    session.execute("""
        create keyspace if not exists udacity
        with replication = 
        {class : 'SimpleStrategy' , 'replication_factor' : 1}
    """)
except Exception  as e:
    print("Error : Create udacity KeySpace")
    print(e)

### 1 - Give me every album in my music library that was released by an artist with album name in `DESC` order and city in `DESC` order
`select * from music_library where artist_name = "The Beatles"`

In [ ]:
# Create music_library Table
query = """
    create table if not exists music_library
    (year int,artist_name text,album_name text,city text,primary key(artist_name,album_name,city))
"""
try:
    session.execute(query)
except Exception as e:
    print("Create music_library Table")
    print(e)

In [ ]:
#insert Some Data to music_library table
query = """insert into music_library (year,artist_name,album_name,city)
            values (%s,%s,%s,%s)"""
try:
    session.execute(query,(1970,"The Beatles","let it Be","Liverpool"))
except Exception as e:
    print("Error : Insert Row")
    print(e)
    
try:
    session.execute(query,(1965,"The Beatles","Rubber Soul","Oxford"))
except Exception as e:
    print("Error : Insert Row")
    print(e)
    
try:
    session.execute(query,(1965,"The Who","My Generation","London"))
except Exception as e:
    print("Error : Insert Row")
    print(e)
    
try:
    session.execute(query,(1966,"The Monkees","The Monkees","Los Angeles"))
except Exception as e:
    print("Error : Insert Row")
    print(e)
    
try:
    session.execute(query,(1970,"The Carpenters","Close To You","San Digo"))
except Exception as e:
    print("Error : Insert Row")
    print(e)

In [ ]:
#Validate Our Data Model
query = "select * from music_library where artist_name = 'The Beatles'"
try:
    rows=session.execute(query)
except Exception as e:
    print("Error : Select Query")
    print(e)

for row in rows:
    print(row.artist_name,row.album_name,row.city,row.year)

In [ ]:
#drop Table
try:
    session.execute("drop table music_library")
except Exception as e:
    print("Error : Select Query")
    print(e)

In [ ]:
#shutDown Cluster and Session Connection
session.shutdown()
cluster.shutdown()