In [ ]:
#import cassandra and cluster library
import casssandra 
from cassandra.cluster import Cluster

In [ ]:
# connect to cassandra 
try:
    cluster = cluster(["127.0.0.1"])
    session = cluster.connect()
except Exception as e:
    print("Error : Connect To Cassandra")
    print(e)

In [ ]:
# Create KeySpace
try:
    session.execute("""
        create keyspace if not exists udacity
        with replication = 
        {'class : 'SimpleStrategy','reolication_factor' : 1}
    """)
except Exception as e:
    print("Error : Create KeySpace")
    print(e)

In [ ]:
# Set KeySpace
try:
    session.set_keyspace("udacity")
except Exception as e:
    print("Error : Set KeySpace")
    print(e)

In [ ]:
# Create music_library Table
query = """
    create table if not exists music_library
    (year int,artist_name text,album_name text,city text)
    primary key (year,artist_name,album_name)
"""
try:
    session.execute(query)
except Exception as e:
    print("Error : Creating music_library Table")
    print(e)

In [ ]:
#insert Some Data to music_library table
query = """insert into music_library (year,artist_name,album_name,city)
            values (%s,%s,%s,%s)"""
try:
    session.execute(query,(1970,"The Beatles","let it Be","Liverpool"))
except Exception as e:
    print("Error : Insert Row")
    print(e)
    
try:
    session.execute(query,(1965,"The Beatles","Rubber Soul","Oxford"))
except Exception as e:
    print("Error : Insert Row")
    print(e)
    
try:
    session.execute(query,(1965,"The Who","My Generation","London"))
except Exception as e:
    print("Error : Insert Row")
    print(e)
    
try:
    session.execute(query,(1966,"The Monkees","The Monkees","Los Angeles"))
except Exception as e:
    print("Error : Insert Row")
    print(e)
    
try:
    session.execute(query,(1970,"The Carpenters","Close To You","San Digo"))
except Exception as e:
    print("Error : Insert Row")
    print(e)

### 1. Give me every album in my music library that was released in given year ?

In [ ]:
query = "select * from music_library where year = 1970"
try:
    rows = session.execute(query)
except Exception as e:
    print("Error : First Select")
    print(e)
for row in rows:
    print(row.year,row.artist_name,row.album_name,row.city)

### 2. Give me the album that is in my music library that was released in iven year by "The Beatles"

In [ ]:
query = "select * from music_library where year = 1970 and artist_name = 'The Beatles'"
try:
    rows= session.execute(query)
except Exception as e:
    print("Error : Second Select")
    print(e)
    
for row in rows:
    print(row.year,row.artist_name,row.album_name,row.city)

### 3. give me all the album released in a given year in give location

In [ ]:
query = "select * from music_library where year = 1970 and location ='lverpool'"
try:
    rows=session.execute(query)
except Exception as e:
    print("Error Third Select")
    print(e)
for row in rows:
    print(row.year,row.artist_name,row.album_name,row.city)

#### Erro Lets Try another Way

### 4. give me city that the album "Let It Be" was recorded

In [ ]:
query = "select city from music_library where year = 1970 and artist_name ='The Beatles' and album_name ='Let it Be'"
try:
    rows = session.execute(query)
except Exception as e:
    print("Error : Last Query")
    print(e)

for row in rows:
    print(row.year,row.artist_name,row.album_name,row.city)

In [ ]:
# Drop Table 
try:
    session.execute("drop table music_library")
except Exception as e:
    print("Error : Drop Table")
    print(e)

In [ ]:
# ShutDown The Cluste And Session Connection
cluster.shutdown()
session.shutdown()